#widthWrapper, #colorPickerContainer {
    display: none;
}
#basic{
    background-color: #FFF;
    display: none;
    position: absolute;
    top: 0; left: 10%;
    width: 370px; height: 100%;
    padding: 0; margin: 0;
    border-right: 2px solid black;
    z-index: 10;
}
#basic #logo {
    position: absolute;
    top: 15px;
    left: 75px;
}
#basic #tools img{
    position: absolute;
    width: 50px;
    height: 50px;
}

#basic #tools #undo{
    top: 67.5%;
    left:5%;
}
#basic #tools #eraser{
    top: 67.5%;
    left: 50%;
}

#basic #tools #save{
    top: 80%;
    left: 5%;
}

#basic #tools #upload{
    top: 80%;
    left: 50%;
}
#basic #tools #trash{
    top:90%;
    left:5%;
}

#background {
    background-size:cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
