div#widthWrapper {
    position: absolute;
    z-index: 1;
    top: 500px;
    left: 500px;
    height: 85px;
}
div#settings {
    width: 250px;
    position: relative;
    top: 12px;
}

div#previewWrapper {
    background-color: white;
    border-radius: 25%;
    margin-left: 15px;
}

div#settings, div#previewWrapper {
    display: inline-block;
}

div#widthWrapper div#settings {
    
}
div#widthWrapper div#settings div {
    height: 42.5px;
} 

div#widthWrapper div#settings div#buttons {
    margin-top: 5px;
}
div#widthWrapper div#settings div#buttons button#middle {
    width: 29%;
    margin: 0% 2%;
}
div#widthWrapper div#settings div#buttons button {
    display: inline-block;
    width: 33%;
    border: 2px solid #88c3ff;
    background: #88c3ff;
    border-radius: 7.5px;
    text-align: center;
    height: 30px;
    color: white;
    font-size: 12.5px;
    letter-spacing: 1px;
    font-weight: bold;
}
