link(href='../css/basic.css', rel = 'stylesheet')
script(src='../js/basic.js')

input(type = 'file', id = 'imgUpload', name = 'backgroundImage' style = 'display:none')
div(id='background')

div#basic
    div#tools
        img#undo(src="../images/undo.png")
        img#trash(src="../images/trash.png")
        img#upload(src="../images/upload.png")
        img#save(src="../images/floppy.png", onclick='saveImage()')
        img#eraser(src="../images/eraser.png")
