link(href='../css/basic.css', rel = 'stylesheet')
script(src='../js/basic.js')


div#basic
    div#tools
        img#palette(src="../images/palette.png")
        img#undo(src="../images/undo.png")
        img#trash(src="../images/trash.png")
        img#upload(src="../images/upload.png")
        img#save(src="../images/floppy.png")
        img#lineStyle(src="../images/gear.png")
        img#eraser(src="../images/eraser.png")
    table#colorSelector
       tr
            td#Maroon(style = "background-color: #800000", onclick='setColor("#800000")')
            td#Brown(style = "background-color: #9A6324", onclick='setColor("#9A6324")')
            td#Teal(style = "background-color: #469990", onclick='setColor("#469990")')
            td#Navy(style = "background-color: #000075", onclick='setColor("#000075")')
            td#Black(style = "background-color: #000000", onclick='setColor("#000000")')
       tr
            td#Red(style = "background-color: #e6194B", onclick='setColor("#e6194B")')
            td#Orange(style = "background-color: #f58231", onclick='setColor("#f58231")')
            td#Yellow(style = "background-color: #ffe119", onclick='setColor("#ffe119")')
            td#Lime(style = "background-color: #bfef45", onclick='setColor("#bfef45")')
            td#Green(style = "background-color: #3cb44b", onclick='setColor("#3cb44b")')
       tr
            td#Cyan(style = "background-color: #42d4f4", onclick='setColor("#42d4f4")')
            td#Blue(style = "background-color: #4363d8", onclick='setColor("#4363d8")')
            td#Purple(style = "background-color: #911eb4", onclick='setColor("#911eb4")')
            td#Magenta(style = "background-color: #f032e6", onclick='setColor("#f032e6")')
            td#Grey(style = "background-color: #a9a9a9", onclick='setColor("#a9a9a9")')
       tr
            td#Pink(style = "background-color: #fabebe", onclick='setColor("#fabebe")')
            td#Apricot(style = "background-color: #ffd8b1", onclick='setColor("#ffd8b1")')
            td#Beige(style = "background-color: #fffac8", onclick='setColor("#fffac8")')
            td#Mint(style = "background-color: #aaffc3", onclick='setColor("#aaffc3")')
            td#White(style = "background-color: #ffffff", onclick='setColor("#ffffff")')
    button#increaseSize(onclick= 'increaseSize()')
        name='Increase'
    button#decreaseSize(onclick= 'decreaseSize()')
        name='Decrease'
