link(href='../css/dial.css', rel='stylesheet')
script(src='../js/lib/jogDial.js')
script(src='../js/dial.js')

input(type = 'file', id = 'imgUpload', style="display:none")
div(id='background')

div#dial.menu
    img(src='../images/led-circle-grey.png')
    div#tools
        img#palette(src="../images/palette.png")
        img#undo(src="../images/undo.png")
        img#trash(src="../images/trash.png")
        img#upload(src="../images/upload.png")
        img#save(src="../images/floppy.png", onclick='saveImage()')
        img#lineStyle(src="../images/gear.png")
        img#eraser(src="../images/eraser.png")