title Multi-Touch Media
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
script(src='http://code.jquery.com/jquery-3.3.1.js')
if touch
    script(src='../js/lib/zingtouch.min.js')    
    script(src='../js/touch.js')
script(src='../js/mouse.js')
script(src='../js/paint.js')
script(src='../js/touchtoggle.js')
style
    include ../css/main.css
    include ../css/slider.css
