html
    head 
        //- Add to head.pug if you need to add something here.
        include head.pug 
    body
        img#logo(src="../images/logo.jpg")
        div#canvasWrapper
            canvas#paint

