html
    head
        title cs464 Multitouch Project
        script(src='http://code.jquery.com/jquery-3.3.1.js')
        script
            include ../js/events.js
            include ../js/paint.js
            include ../js/hammer.min.js
        style
            include ../css/main.css
    body
        img(src="../images/paint.jpg")
        div#canvasWrapper
            canvas#paint

