html
    head
        title cs464 Multitouch Project
        script(src='http://code.jquery.com/jquery-3.3.1.js')
        script(src='../js/paint.js')
        script(src='../js/hammer.min.js')
    body
        div#canvasWrapper
            canvas

