html
    head 
        //- Add to head.pug if you need to add something here.
        include head.pug 
    body
        img#logo(src="../images/logo.jpg")
        div#sliderContainer
            label.switch(for="touchToggle")
                input#touchToggle(type="checkbox" checked=touch)
                span.slider.round
        div#canvasWrapper
            canvas#paint
        if menu == "radial"
            include radialmenu.pug
        if menu == "dial"
            include dialmenu.pug

