link(href='../css/radial.css', rel='stylesheet')
script(src='../js/radial.js')
div#radial
    img(src='../images/1x1.png')
    div#tools 
        img#palette(src="../images/palette.png")
        img#eraser(src="../images/eraser.png")
        img#lineStyle(src="../images/gear.png")
        img#export(src="../images/floppy.png")
        img#upload(src="../images/upload.png")
        img#trash(src="../images/trash.png")
        img#undo(src="../images/undo.png")
        
