style
    include ../css/radial.css
div#radialWrapper
    a#touchArea(href="#")
    ul#tools
        li#color
            img(src="../images/palette.png")
        li#eraser 
            img(src="../images/eraser.png")
        li#lineOptions
            img(src="../images/gear.png")
        li#save 
            img(src="../images/floppy.png")
